# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/

# Coverage directory used by testing tools
coverage/

# Next.js build output
.next/

# SvelteKit build output
.svelte-kit/

# Mac system files
.AppleDouble
.LSOverride

# Windows Installer files
ehthumbs.db
Desktop.ini
